<launch>
  <node pkg="nanokontrol"
    type="nanokontrol_node"
    name="nanokontrol"
    output="screen">
    <remap from="~nanokontrol" to="/nanokontrol2"/>
  </node>

  <node pkg="nanokontrol"
    type="korg_mapping.py"
    name="korg_mapping"
    output="screen">
    <remap from="~nanokontrol" to="/nanokontrol2"/>
  </node>
</launch>

